<section class="my-app-container">
  <header class="my-app-header" role="banner">
    <h1 class="my-app-page-heading">Welcome to the Users App</h1>
  </header>

  <main class="my-app-main-content" role="main">
    <!-- search field -->
    <app-search-bar
      (newSearchTerm)="handleSearchTerm($event)"
      class="my-app-search-bar"
    ></app-search-bar>

    <!-- user table -->
    <app-user-table [newSearchTerm]="newSearchTerm" class="my-app-user-table">
    </app-user-table>

    <!-- Button to export table data -->
    <section class="my-app-export-button-container">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="emitExportEvent()"
      >
        Export as CSV File
      </button>
    </section>
  </main>
</section>

<!-- <router-outlet></router-outlet> -->
