@import "~@angular/material/theming";

$tydy-hiring-challenge-typography: mat-typography-config(
  $font-family: "Montserrat, sans-serif",
);

@include mat-core($tydy-hiring-challenge-typography);

$tydy-hiring-challenge-primary: mat-palette($mat-grey, 300, A400);
$tydy-hiring-challenge-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$tydy-hiring-challenge-warn: mat-palette($mat-red);

$tydy-hiring-challenge-theme: mat-dark-theme(
  (
    color: (
      primary: $tydy-hiring-challenge-primary,
      accent: $tydy-hiring-challenge-accent,
      warn: $tydy-hiring-challenge-warn,
    ),
  )
);

@include angular-material-theme($tydy-hiring-challenge-theme);
