@import "./custom_material_theme.scss";

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.mat-sort-header-container {
  justify-content: center;
}
